# Exclude everything
*

# But include the following files
!artisan
!composer.json
!composer.lock
!Dockerfile
!package.json
!vite.config.js
!public/
!resources/
!routes/
!app/
!bootstrap/
!config/
!database/
!storage/
!vendor/